extends layout

block content
  h1= title
  h5 Find tweets to engage with
  form(method='POST' action='/find_tweets_by_phrase')
    .form-group
      label(for='phrase') Search 
      input#name.form-control(type='text', name='phrase', placeholder='phrase', required='true')
    button.btn.btn-primary(type='submit') Submit
  h5 Follow random people with a positive tweet
  form(method='POST' action='/follow_random')
    .form-group
      label(for='atMost') At most
      input#name.form-control(type='number', name='atMost', placeholder='#', required='true')
      label(for='thatSaid') Search Phrase
      input#name.form-control(type='text', name='thatSaid', placeholder='phrase', required='true')
      label(for='polarityMin') Polarity
      input#name.form-control(type='number', name='polarityMin', placeholder='#', required='true' max=100 min=-100)
    button.btn.btn-primary(type='submit') Follow Randos

    if errors
      ul
          for error in errors
              li!= error.msg