extends layout

block content
  h1.text-monospace.display-4 Find a couple tweets to engage with.
  br
  h1.text-monospace.display-4 Find some neat tweeters to follow.
  br
  h1.text-monospace.display-4 Get a little bit of metrics on whatever you want.
  br
  br
  unless isAuthenticated
    h2.text-monospace.display-5.text-muted.text-center Sign up now! Or don't. I don't care. It's like what evs. Just kidding! Do it. Do it. Do it! Now!
    a.btn.btn-primary.btn-outline-dark.btn-lg.btn-block(href="/Register") Register
    h2.text-monospace.display-5.text-muted.text-center Do it!
