doctype html

html
  head
    title= title
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    nav.navbar.navbar-dark.bg-dark
      div.container
          a.navbar-brand(href="/") Hey Cindy!
          if !isAuthenticated
            a.btn.btn-outline-secondary.my-2.my-sm-0(href="/login") Login
            a.btn.btn-outline-secondary.my-2.my-sm-0(href="/Register") Register
    block content
