extends layout

block head
  script(src='/javascripts/tweetsHelper.js')

block content
  h1 Tweeters you followed
  p searched by #{search_phrase}
  ul.container
    each tweeter in tweeter_list
      li.row.tweet
        div.col-md
          h7.thick #{tweeter.user.name} 
          a(href=tweeter.user.url) @#{tweeter.user.twitter_handle}        
    else
      li There are no tweeters that you followed
